*{
    font-family: "Oswald", sans-serif;
    background-color: var(--secondary-background-color);
    color: var(--primary-color);
}


:root{
    --primary-color: rgb(207, 186, 129);
    --secondary-color: rgb(90, 17, 157);
    --primary-accent-color: rgb(201, 63, 59);
    --secondary-accent-color: rgb(110, 100, 79);
    --primary-background-color: black;
    --secondary-background-color: rgb(16, 16 , 27);
}


