
:root{
  background: linear-gradient(135deg, #2C6E49 0%, #144D43 100%);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  padding: 50px 20px;
  display: flex;
  border-width: 5px;
  border: #144D43;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p, li {
  font-size: 1.5rem;
}
