.hero-section {
    width: 100%;
    height: 100vh; /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; /* Adjust this for content width */
  }
  
  .hero-text {
    flex: 1;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .view-work-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .hero-image {
    text-align: right;
  }
  
  .hero-image img {
    margin: 10px;
    width: 500px; /* Increased width for a larger rectangular shape */
    height: 500px; /* Increased height for a larger rectangular shape */
    border-radius: 10px; /* Optional: rounded corners */
    object-fit: contain; /* Ensures the image fits within the dimensions without distorting */
  }
  